.Select {
  font-family: monospace;
  width: 10em;
  margin: 2em;
}

.Select-title {
  margin-bottom: 1em;
}

.Select-option {
  cursor: pointer;
  user-select: none;
  padding: 0.25em;
  text-align: left;
}

.Select-option:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
